# **Introduction**

experience: this a categorical variable that describes the level of experience of players. The possible outcomes are "Beginner", "Amateur", "Regular", "Pro", and "Veteran".
subscribe: this is also a categorical variable that presents whether each player has subscribed to the newsletter or not. Its possible values are "TRUE" and "FALSE".
hashedEmail: This is a categorical variable that is not repeated because it presents each user's email. This will not contribute to our analysis because its solepurpose is to differentiate players from players which will be the same as one of the columns we have after.
played_hours: this is a continuous variable that presents how long did each player played in time unit of hours. There are none missing values, however, the observations are very sparse. There are a lot of players who have played_hours of around 0 hours, and only a few have a significant played_hours of above 50. This column will be interesting to analyze on as this may create some outsiders or noise points which will affect our prediciton model.
name: This is categorical variable that presents the username of all the observations to differentiate and track each entry. This column serves the same purpose as hashedEmail in this dataset and it easier to manipulate and operate on due to the simplicity of the observations.
gender: this is a categorical variable that describes the player's gender. It ranges from "Male", "Female", "Non-binary", "Prefer not to say", "Agender", "Two-spirited" and "Other". There are a lot of observations in "Male" and "Female", and not so much in the other categories. This will create some outsiders or noise points which will affect our prediciton model.
age: This is a continuous variable that describes the player's age.
individualid: this column have no observations for all of the rows. We might remove this column from the dataset when we start wrangling since this does not provide any information on our thesis.
organizationName: this column have no observations for all of the rows. We might remove this column from the dataset when we start wrangling since this does not provide any information on our thesis.

**Data Wrangling**

In [22]:
import altair as alt
import numpy as np
import pandas as pd
from sklearn import set_config
from sklearn.model_selection import GridSearchCV, cross_validate, train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [23]:
url="https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
players = pd.read_csv(url) 

players_tidy=players.drop(["played_hours", "hashedEmail", "individualId", "organizationName", "name", "gender"], axis=1)
players_tidy

    experience  subscribe  age
0          Pro       True    9
1      Veteran       True   17
2      Veteran      False   17
3      Amateur       True   21
4      Regular       True   21
..         ...        ...  ...
191    Amateur       True   17
192    Veteran      False   22
193    Amateur      False   17
194    Amateur      False   17
195        Pro       True   91

[196 rows x 3 columns]

In [24]:
# code which contains numerical column for experience

players_tidy["experience_numerical"]= LabelEncoder().fit_transform(
    players_tidy["experience"])

players_tidy

    experience  subscribe  age  experience_numerical
0          Pro       True    9                     2
1      Veteran       True   17                     4
2      Veteran      False   17                     4
3      Amateur       True   21                     0
4      Regular       True   21                     3
..         ...        ...  ...                   ...
191    Amateur       True   17                     0
192    Veteran      False   22                     4
193    Amateur      False   17                     0
194    Amateur      False   17                     0
195        Pro       True   91                     2

[196 rows x 4 columns]

In [30]:
#code which contains numerical column for experience only

players_numerical = players_tidy.drop(["experience"], axis=1)
players_numerical

     subscribe  age  experience_numerical
0         True    9                     2
1         True   17                     4
2        False   17                     4
3         True   21                     0
4         True   21                     3
..         ...  ...                   ...
191       True   17                     0
192      False   22                     4
193      False   17                     0
194      False   17                     0
195       True   91                     2

[196 rows x 3 columns]